@model List<Lab11_MyFirstMVCApp.Models.TimePerson>

<h1>List of Influential People</h1>

@foreach (var person in Model)
{
    <div>
        <ul>
            <li>Year: @person.Year</li>
            <li>Name: @person.Name</li>
            <li>Honor: @person.Honor</li>
            <li>Country: @person.Country</li>
            <li>Birth Year: @person.Birth_Year</li>
            <li>Death Year: @person.DeathYear</li>
            <li>Title: @person.Title</li>
            <li>Category: @person.Category</li>
            <li>Context: @person.Context</li>
        </ul>
    </div>
}